torch>=1.9.0
numpy>=1.19.2
Pillow>=8.0.0
requests>=2.25.1
transformers>=4.5.1
opencv-python>=4.5.3
supervision>=0.3.0
jax>=0.2.21
matplotlib>=3.4.3
tqdm>=4.62.3
sentencepiece>=0.1.96
ml_collections>=0.1.0